<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Incio de sesión</title>

     <!-- Bootstrap CSS -->
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

     <!-- CSS -->
      <link rel="stylesheet" href="../assets/css/styles.css">

</head>
<body>

    

    <div id="login" class="contenedor login">

        <h1 class="login-title text-light text-center mb-5">Inicia sesión en <span class="mega">Mega</span>Play</h1>
        
        <form>
    
            <div class="row">
                <!-- Correo -->
                <div class="mb-3">
                    <label for="email" class="text-light form-label">Correo Electrónico</label>
                    <input type="email" class="form-control" id="email" placeholder="ejemplo@email.com">
                </div>
    
                
            </div>
    
            <!-- Contraseña -->
            <div class="mb-3">
                <label for="password" class="text-light form-label">Contraseña</label>
                <input type="password" class="form-control" id="password" placeholder="********">
            </div>
    
            <!-- Botón de Enviar -->
            <button type="submit" class="btn btn-primary w-100 mt-3">Iniciar sesión</button>
        </form>
    </div>
    
    
    <!-- BootStrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>