html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-size: 1.6rem;
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    background: linear-gradient(135deg,
            rgb(46, 43, 43),
            rgb(22, 21, 21));
}

.contenedor-login {
    width: 95%;
    max-width: 1200px;
    margin: 0 auto;
}

.contenedor {
    width: 95%;
    max-width: 1200px;
    margin: 0 auto;
}

.contenedor-md {
    width: 75%;
    max-width: 1200px;
    margin: 0 auto;
}

img {
    max-width: 100%;
    display: block;
}

ul,
ol {
    list-style: none;
}

form,
input,
select,
textarea,
button,
label {
    font-family: inherit;
    font-size: inherit;
    display: block;
    color: inherit;
}

/* Utilities */

.mega {
    color: transparent;
    background: linear-gradient(to right, #006B8F 0%, #00A651 100%);
    -webkit-background-clip: text;
    background-clip: text;
}

/* Login Styles */

h1 {
    font-size: 2.7rem;
}

.login {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.login label,
.login input,
.login button {
    font-size: 1.8rem;
}

.login button {
    font-weight: 700;
}

@media (min-width: 768px) {

    .contenedor {
        width: 60%;
    }
}

@media (min-width: 992px) {

    .contenedor-login {
        width: 40%;
    }
}

/* Index Styles */

/* Nav */
.navbar {

    padding: 1rem 1.8rem;

}

.navbar-brand {
    font-weight: 700;
    font-size: 1.8rem;
}

.nav-item {
    margin: 0.8rem 0;
}

.close-button {
    padding: 0.8rem 2.4rem;
    font-size: 1.2rem;
    font-weight: 700;
}

/* Card Pelicula */

.pelicula {
    overflow: hidden;
    border-radius: 0.5rem;
    background-color: #2f333a;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.6);
    padding-bottom: 1.2rem;
}

.detalles-pelicula {
    padding: 0.5rem 2rem;
    display: flex;
    justify-content: space-between;
}

.informacion-pelicula {
    padding: 0 2rem;
}

.informacion-pelicula {
    display: flex;
    flex-direction: column;
}

.calificacion {
    color: rgb(248, 249, 250);
}

.calificacion i {
    color: rgb(250, 250, 138);

}

.calificacion span {
    font-weight: bold;
}

.acciones {
    display: flex;
    justify-content: space-evenly;
}

.favorito {
    align-self: flex-end;
}

.acciones button {
    padding: 0.5rem 1.4rem;
    border-radius: 0.5rem;
    transition: background-color 300ms ease-in-out;
}

@media (min-width: 768px){
    .acciones {
        margin: 1.5rem 0;
    }

    .acciones button {
        padding: 0.6rem 2.5rem;
    }
}

.ver-ahora {
    background-color: #0d6efd;
    color: #fff;
    border: none;
}

.ver-ahora:hover {
    background-color: #0b5ed7;
}

.favorito {
    background-color: #e63946;
    color: #fff;
    border: none;
  }
  
  .favorito:hover {
    background-color: #c5303b;
  }


/* Grid */

/* @media (min-width: 768px){
    .recomendados-grid, .masVistos-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2rem;
    }
} */

@media (min-width: 1024px){
    .recomendados-grid, .masVistos-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 2rem;
    }
}