<shared-navbar></shared-navbar>

<section class="favoritos contenedor py-4">
  <h2 class="text-light mb-4">Mis películas favoritas</h2>

  <div *ngIf="favoritos.length === 0" class="text-light">
    No tienes películas favoritas aún.
  </div>

  <div *ngFor="let pelicula of favoritos" class="pelicula my-5">
    <div class="contenedorImagen">
      <img [src]="pelicula.posterpath" alt="Imagen de la película">
    </div>

    <div class="datos-pelicula">
      <div class="detalles-pelicula">
        <p class="text-light"><span class="fw-bold">Duración: </span>{{ pelicula.duration }}</p>
        <p class="text-light"><span class="fw-bold">Género: </span>{{ pelicula.genreName }}</p>
      </div>

      <div class="informacion-pelicula">
        <h3 class="text-light">{{ pelicula.title }}</h3>
        <p class="text-light">{{ pelicula.description }}</p>

        <p class="calificacion">
          <i class="fa-solid fa-star"></i>
          <span> Calificación: </span>{{ pelicula.score }}
        </p>

        <div class="acciones">
          <button (click)="eliminarFavorito(pelicula)" class="favorito fw-bold">
            <i class="fa-solid fa-heart-crack"></i>
            Quitar de favoritos
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
