<div class="auth-container">
  <h2>Iniciar sesión</h2>

  <!-- Mensaje de error -->
  <div *ngIf="loginError" class="error-message">
    {{ loginError }}
  </div>

  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <label>Email</label>
    <input
      type="email"
      formControlName="email"
      placeholder="ejemplo@correo.com"
    />
    <small *ngIf="email?.invalid && email?.touched">Correo inválido o vacío.</small>

    <label>Contraseña</label>
    <input
      type="password"
      formControlName="password"
      placeholder="••••••"
    />
    <small *ngIf="password?.invalid && password?.touched">
      Mínimo 6 caracteres.
    </small>

    <button type="submit" [disabled]="loginForm.invalid">Entrar</button>
  </form>

  <p class="link-text">
    ¿No tienes una cuenta?
    <a [routerLink]="['/auth/register']">Crea una aquí</a>
  </p>
</div>


